body {
  background: #F5F7FA;
}

.navbar {
  background: #F0F2F4 !important;
}

.navbar-brand {
  font-size: 1.11rem;
  font-weight: bold;
}

#navbar-logo {
  position: absolute;
  top: -8px;
  min-width: 124px;
  min-height: 55px;
}

.wrapper {
  margin-top: 50px;
  max-width: 99%;
}

.aside {
  position: fixed !important;
  margin-left: 1%;
}

.main {
  margin-left: 17%;
}

